.socials {
  &--flex {
    & .socials__list  {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
    }

    & .socials__item  {
      margin-right: 10px;
    }

    & .socials__item:last-child  {
      margin-right: 0;
    }
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.socials__link {
  margin: 0;
}
