$white: #ffffff;
$white-button: #f8f8f8;
$black: #282828;
$wisper: #e8e8e8;
$cyan: #1698D9;
$blue: #0499dd;
$lightseagreen: #17c1bc;
$lightgrey: #d4d4d4;
$active: rgba(255, 255, 255, 0.5);

$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
