-
  var additionals = [
    {
      info: "Условия партнерской <br /> программы",
      img: "icon-paper",
      width: 44,
      height: 50,
    },
    {
      info: "Партнерский <br /> FAQ",
      img: "icon-question",
      width: 72,
      height: 50,
    },
    {
      info: "Партнерский <br /> кабинет",
      img: "icon-partner",
      width: 48,
      height: 50,
    },
    {
      info: "Рекламные <br /> материалы",
      img: "icon-speaker",
      width: 63,
      height: 50,
    },
  ]
