-
    var advantages = [
      {
        img: "advantages-representative",
        width: "40",
        height: "55",
        name: "Официальный представитель",
        description: "Мы являемся авторизированным обменным пунктом представленных платежных <br> систем.",
        mod: "representative"
      },
      {
        img: "advantages-tariffs",
        width: "50",
        height: "50",
        name: "Выгодные тарифы",
        description: "Только у нас самые выгодные тарифы <br> по обмену и выводу электронных валют. С нами Вы экономите средства и время.",
        mod: "tariffs"
      },
      {
        img: "advantages-comodo",
        width: "45",
        height: "45",
        name: "Защита Comodo",
        description: "Все Ваши данные находятся <br> в полной безопасности <br> за счет шифрования и защиты <br> от подмены данных.",
        mod: "comodo"
      },
      {
        img: "advantages-operators",
        width: "45",
        height: "45",
        name: "Лояльные операторы",
        description: "Наши операторы <br> в любое время <br> с радостью помогут Вам разобраться <br> с любыми сложностями.",
        mod: "operators"
      },
    ]
