-
  var bonusesList = [
    {
      header: 'Накопительная система. <span></span> Делайте больше обменов и получайте большую скидку в&nbsp;последующих транзакциях.'
    },
    {
      header: 'Скидка при регистрации. <span></span> Принимайте участие в&nbsp;программе скидок сразу после регистрации.'
    },
    {
      header: 'Прозрачность начислений. <span></span> Никаких сложных систем подсчетов баллов. Вся&nbsp;статистика обменов доступна в&nbsp;«Личном кабинете»'
    },
    {
      header: 'Моментальная выгода. <span></span> Забудьте о&nbsp;дополнительных условиях вывода и&nbsp;необходимости накопления минимальных сумм.'
    },
  ]
