mixin socials()
  .socials&attributes(attributes)
    ul.socials__list
      li.socials__item
        a.socials__link(href="#" aria-label="Мы в facebook")
          +icon("vk-icon", 30, 30)
      li.socials__item
        a.socials__link(href="#" aria-label="Мы в vk")
          +icon("vk-icon", 30, 30)
      li.socials__item
        a.socials__link(href="#" aria-label="Мы в twitter")
          +icon("vk-icon", 30, 30)
